:root {
  --width-card-form: 378px;
  --auth-form-padding: 24px;
  --google-link-size: 36px;
  --auth-form-gap: 24px;
  --header-height: 60px;
  --signUP-icons-links: 36px;
  --submitBtn-maxWidth: 330px;
  --signUP-icons-links-mobile: 30px;
  --submitBtn-maxWidth-mobile: 300px;
  --mobile-width: 360px;
  --mobile-content-width: 330px;
  --photo-icon-size: 36px;
}
