@use '@/app/styles/mixins' as *;

.container {
  @include subscription-container;

  align-items: center;
  width: 100%;
  height: 120px;
  padding: 17px 14px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include mobile {
    gap: 5px;
    padding: 3px;
  }
}

.info.langRu {
  @include mobile {
    gap: 0;
  }
}

.icon {
  display: flex;
  align-items: flex-start;

  @include mobile {
    padding-top: 5px;
  }
}

.title {
  margin-bottom: 13px !important;

  @include mobile {
    margin-bottom: 10px !important;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    align-items: flex-end;
  }
}

.leftSide {
  display: flex;
  gap: 12px;

  @include mobile {
    max-width: 60%;
  }
}

.btn {
  display: flex;
  gap: 12px;
  padding: 0;
  color: var(--light-100) !important;

  &:active {
    color: var(--light-900) !important;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

button.btn.langRu {
  @include mobile {
    margin-bottom: 6px;
    padding: 0;
  }
}
