@use '@/app/styles/mixins' as *;

/* TODO: add styles for mobile */

/*** GENERAL INFO ***/

.root {
  display: flex;
  gap: 40px;
  width: 100%;
  padding-top: 24px;
}

.container {
  display: flex;
  flex: 0 1 196px;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  width: 100%;
  max-width: 196px;
  padding-top: 24px;

  & .uploadButton {
    margin-top: 24px;
    padding: 0.375rem 1.3rem;
  }
}

.form {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 740px;

  & .select,
  .datePicker {
    font-size: var(--font-size-s);
    color: var(--light-900);
  }

  & .textarea {
    border-color: var(--dark-100);
  }

  & .submit {
    align-self: flex-end;
  }
}

.line {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    z-index: -11;
    bottom: 0;
    left: -240px;

    width: 132.5%;
    height: 1px;

    background-color: var(--dark-100);
  }
}

.selectBlock {
  display: flex;
  gap: 24px;
  width: 100%;

  & > * {
    flex: 0 0 auto;
    width: 48.5%;
  }
}

/*** PHOTO PREVIEW ***/
.wrapper {
  position: relative;
}

.imageWrapper {
  @include image-wrapper;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.imagePreview {
  @include image-preview(192px);

  border-radius: 50%;
}

.icon {
  width: var(--photo-icon-size);
  height: var(--photo-icon-size);
}

.close {
  cursor: pointer;

  position: absolute;
  top: 19px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: var(--danger-500);
  border: none;
  border-radius: 50%;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--danger-300);
  }
}
