.dotsItem {
  cursor: pointer;

  width: 8px;
  height: 8px;
  margin: -30px 5px;

  background-color: var(--light-900);
  border-radius: 50%;
}

.dotsItemActive {
  background-color: var(--accent-500);
}

.slider {
  height: 100%;
}

.selectedImage {
  width: 100%;
  max-width: 492px;
  height: 100%;
  max-height: 432px;

  object-fit: cover;
}

.icon {
  z-index: 2;
  margin-top: 16px;
  font-size: 24px;
}
