@use '@/app/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 24px 36px;

  @include mobile {
    padding: 0 12px 30px;
  }
}

.header {
  @include modal-header;

  margin-bottom: 30px;
  padding: 0 24px;

  @include mobile {
    padding: 12px;
  }
}

.content {
  width: 100%;
  max-width: 380px;

  @include mobile {
    max-width: 330px;
  }
}

.footer {
  display: flex;
  justify-content: end;

  button {
    @include mobile {
      width: 100%;
      padding: 12px 0;
    }
  }
}

.description {
  @include mobile {
    max-width: 306px;
    margin: 0 auto;
    text-align: center;
  }
}

.icon {
  @include modal-close;
}
