@use '@/app/styles/mixins' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  @include font(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));

  @include mobile {
    @include font(var(--font-size-xs), var(--line-height-s), var(--font-weight-semibold));

    gap: 0;
  }
}

.title {
  font-weight: var(--font-weight-regular);
}
