.postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.imageWrapper {
  cursor: pointer;
  overflow: hidden;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.icon {
  width: var(--photo-icon-size);
  height: var(--photo-icon-size);
}
