.formSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px 24px;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  margin-bottom: 20px;
}

.form,
.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input,
.form textarea {
  resize: none;
  width: 100%;
  max-width: 433px;
  padding: 10px;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.locationContainer textarea {
  resize: none;

  position: relative;

  overflow: hidden;

  width: 100%;
  max-width: 433px;
}

.locationLabel {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--light-900);
}

.textareaWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.location {
  align-content: center;

  width: 100%;
  height: 36px;

  color: var(--light-900);

  background: transparent;
}

.icon {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
