// TODO: add styles for mobile
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: center;
  justify-content: flex-end;
  order: 3;

  width: 121.09%;
}

.icon {
  width: 96px;
  height: 64px;
}
