@use '@/app/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  height: auto;
  padding: 23px 24px 36px;

  @include mobile {
    background: inherit;
    border: none;
  }
}

.title {
  margin-bottom: 37px;

  @include mobile {
    margin-bottom: 31px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  margin-top: 7px;
  color: var(--light-900);
}

.btn {
  margin-top: 41px;

  @include mobile {
    margin-top: 53px;
  }
}
