@use 'src/app/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  height: auto;
  padding: 25px;

  @include mobile {
    background: inherit;
    border: none;
  }
}

.field {
  margin-bottom: 7px !important;
}

.title {
  margin-bottom: 37px;

  @include mobile {
    margin-bottom: 31px;
  }
}

.description {
  margin-top: 7px;
  margin-bottom: 23px;
  color: var(--light-900);

  @include mobile {
    margin-bottom: 53px;
  }
}

.recaptcha {
  display: flex;
  justify-content: center;
}

.link {
  display: block;
  margin: 24px 0;
  text-align: center;
}

.afterInfo {
  margin-bottom: 18px;

  @include mobile {
    margin-top: 54px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actionsContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 17px;

  @include mobile {
    flex-direction: column-reverse;

    .recaptcha {
      margin-bottom: 36px;
    }
  }
}
