@use 'src/shared/styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  height: auto;
  padding: 25px;

  @include mobile {
    background: inherit;
    border: none;
  }
}

.field {
  background: inherit;
}

.title {
  margin-bottom: 37px;

  @include mobile {
    margin-bottom: 31px;
  }
}

.description {
  margin-top: 7px;
  margin-bottom: 17px;
  color: var(--light-900);
}

.link {
  margin: 24px 0;
}
