.root {
  background-color: transparent;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 60px;
  padding-right: 50px;

  a {
    gap: 12px;
    width: max-content;
    color: inherit;
    text-decoration: none;

    &.active {
      font-weight: bold;
      color: var(--accent-500);
    }

    &:focus {
      border-radius: 2px;
      outline: 2px solid var(--accent-700);
      outline-offset: 2px;
    }
  }
}

.search {
  margin-bottom: 36px;
}
