@use '@/app/styles/mixins' as *;

.authLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));

  @include mobile {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  max-width: 1280px;
}

.sidebar {
  flex: 0 0 220px; // ширина сайдбара
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  max-width: 1060px;
  height: calc(100vh - var(--header-height));
}
