@use '@/app/styles/mixins' as *;

.authLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));

  @include mobile {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 0 0 250px; // ширина сайдбара
}

.layout {
  flex: 1;
  margin: 0 auto; // центрирование основной страницы
}
