@use '@/app/styles/mixins' as *;

.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.current {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mobile {
    gap: 5px;
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  @include mobile {
    & button {
      width: 100%;
    }
  }
}

.title {
  margin-bottom: 6px;
}

.others {
  margin-top: 18px;

  @include mobile {
    margin-top: 31px;
  }
}

.infoLoggedDevices {
  @include mobile {
    text-align: center;
  }
}

.othersList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
