// TODO: styles by default,maybe changed later,height 630px delete!!!!
.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.current {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.title {
  margin-bottom: 6px;
}

.others {
  margin-top: 18px;
}

.othersList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
