@use '@/app/styles/mixins' as *;

.card {
  width: 100%;
  max-width: var(--width-card-form);
  padding: var(--auth-form-padding);

  @include mobile {
    height: 100%;
    padding: 17px 15px 76px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;

  @include mobile {
    > * {
      @include font(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
    }
  }
}

.links {
  display: flex;
  gap: 60px;
}

.icons {
  width: var(--google-link-size);
  height: var(--google-link-size);
  color: var(--light-100);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
