.subscription {
  width: 121.09%;
}

.title {
  margin-bottom: 5px;
}

.container {
  padding: 14px 20px;
  background-color: var(--dark-500);
  outline: 1px solid var(--dark-300);

  &.data {
    display: flex;
    gap: 48px;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.renewal {
  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;

  margin-top: 5px;
}
