@use '@/app/styles/mixins' as *;

.authLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));

  @include mobile {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.wrapper {
  display: flex;
  max-width: 1280px;
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  height: calc(100vh - var(--header-height));
}

@include mobile {
  .sidebar {
    display: none;
  }

  .menu {
    display: block;
  }
}
