.tableWrapper {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--dark-500);
  border-radius: 2px;
}

.tableHead {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
  color: var(--light-100);
}

.tableCell {
  display: table-cell;

  margin: 0;
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;

  border-bottom: 1px solid var(--dark-500);
}

.tableBody .tableRow:last-child .tableCell {
  border-bottom: none;
}

.tableRow .tableBodyCell:last-child {
  padding: 12px 24px;
}
