.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);

  th {
    word-break: normal;
  }

  td {
    word-break: break-all;
  }
}

.tableWrapper {
  border: 1px solid var(--color-dark-500);
}

.tableHead {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-light-100);
  text-align: left;

  background-color: var(--color-dark-500);
}

.tableCell {
  display: table-cell;

  margin: 0;
  padding: 6px 24px;

  font-size: 14px;

  border-bottom: 1px solid var(--color-dark-500);

  a {
    text-decoration: none;
  }
}

.tableBody .tableRow:last-child .tableCell {
  border-bottom: none;
}

.tableRow .tableBodyCell:last-child {
  padding: 12px 24px;
}

.descIcon {
  transform: rotate(180deg);
}
