@use '@/app/styles/mixins' as *;

.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(0 0 0 / 50%);
}

.modalContent {
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 972px;
  max-height: 564px;

  background-color: var(--dark-100);
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);

  transition: all 0.3s ease;
}

.autoSize {
  width: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 20px 20px 0;
}

.body {
  display: flex;
  margin-top: 10px;
}

.imageSection {
  align-items: center;
  width: 50%;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.closeModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 486px;
  margin: 0 auto;
  padding: 24px;

  background-color: var(--dark-300);
}

.closeModalHeader {
  @include modal-header;

  margin-bottom: 30px;
  padding: 0 24px;
}

.content {
  width: 100%;
  max-width: 380px;
}

.closeModalDescription {
  margin-bottom: 30px;
  text-align: center;
}

.closeModalFooter {
  display: flex;
  gap: 12px;
  justify-content: center;

  button {
    margin-top: 30px;
    font-size: 16px;
  }
}

.icon {
  @include modal-close;
}
