/* stylelint-disable-next-line scss/double-slash-comment-whitespace-inside */
//TODO: make styles for mobile

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 18px;

  & .container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;

    & .errorMessage {
      color: var(--danger-500);
    }
  }

  & .button {
    display: flex;
    flex-direction: column;
    gap: var(--auth-form-gap);

    & .password {
      cursor: pointer;
      align-self: flex-end;
      color: var(--light-900);
    }
  }
}
