@use '@/shared/styles/mixins' as *;

.container {
  margin: 64px;
}

.link {
  display: flex;
  gap: 6px;

  width: fit-content;

  font-weight: var(--font-weight-regular);
  color: inherit;
  text-decoration: none;
}

.SVG {
  width: var(--svg-size);
  height: var(--svg-size);
}

.terms {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1000px;
  margin: 0 auto;

  color: var(--light-100);
  text-align: center;

  h1 {
    padding: 20px;

    @include font(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
  }
}

@media (width < 630px) {
  .container {
    margin: 15px;
  }

  .link {
    position: absolute;
    top: 26px;
    left: 0;
  }
}
