@use '@/app/styles/mixins' as *;

.more {
  display: none;

  @include mobile {
    display: block;
  }

  &[data-state='closed'] {
    color: inherit;
  }
}

.popoverContent {
  z-index: 100;
  gap: 24px;
  max-width: 260px;
  padding-block: 18px;

  & a {
    color: inherit;
    text-decoration: none;
  }

  @include mobile {
    right: -9px;
  }
}

.profileSettingsContainer {
  height: 24px;

  @include mobile {
    &.hideOnMobile {
      display: none;
    }
  }
}
