@use '@/app/styles/mixins' as *;

.settingsContainer {
  display: flex;
  align-self: flex-start;
  width: 100%;
  padding: 24px 0 0 24px;

  & > div {
    width: 94%;
  }

  @include mobile {
    flex-direction: column;
    padding: 17px 15px 0;

    & > div {
      width: 100%;
      height: 100% !important;
    }
  }
}

.profileSettings {
  display: none;

  @include mobile {
    display: block;
    text-align: center;
  }
}

.linkMyProfileRoute {
  display: none;

  @include mobile {
    position: absolute;
    display: block;
    height: 24px;
  }
}

.tabsContainer {
  padding-top: 19px;

  @include mobile {
    height: 100% !important;
  }
}

.tabsList {
  display: flex;
  max-width: 972px;
  color: var(--accent-500) !important;

  @include mobile {
    overflow-x: auto;

    margin-inline: -15px;
    padding-inline: 15px;

    white-space: nowrap;

    background-color: transparent;

    &::-webkit-scrollbar {
      display: none;
    }

    & [role='tab'] {
      background-color: transparent;

      &:focus,
      &:active,
      &[data-state='active'] {
        color: var(--accent-500) !important;
        background-color: var(--dark-700) !important;

        &::before {
          background-color: var(--accent-500) !important;
        }
      }
    }
  }
}

.tabsTrigger {
  display: flex;
  width: 243px;
  text-align: center;
}

/*** TODO: add hard coded width 121.09% - problem in accountManagement.module.scss ***/
.tabsContent {
  display: flex;
  justify-content: center;
  width: 100%;
}
